.wrapped-central{
  max-width: 960px ; 
  margin: 0 auto;
  padding: 30px;

}

.product-list{
  width: 70%;
  display: inline-block;
  font-size: 0;
}

.product{

  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  margin: 0 6px 15px 6px;
  font-size: 16px;

}
.product-image{
  width: 130px;
  height: 130px;
}
.product p {
  text-align: center;
}
.sidebar{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.filter{
  width: 100%;
  border: 1px solid black;
}

.filter-name{
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 20px 0;
}
.min-value{
  padding: 40px 0;
}

.cart{
  width: 100%;
  margin-top: 100px;
  border: 1px solid  black;
}
.cart-name{
  font-size: 25px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.cart-products{
  padding: 10px;
}
.cart-product-name{

}

.cart-product-price{
  text-align: right;
  color: red;
}

.total-price-area{
  padding-left: 10px;
  padding-top: 20px;
}

.buy-button{
  text-align: center;
  padding-top: 20px;
  }
  #loader{
    text-align: center;
  }
  .total{
    color: red;
  }


