<!DOCTYPE html>
<html>
<head>
	<title>Infinite Scroll Product Listing</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-app="myApp">
	<div class="wrapped-central" ng-controller="MainController">
		<div class="product-list">
				<div class="product" ng-repeat="product in products | filter : search | filter : priceRange| limitTo : myLimit">
					<img class="product-image" src="{{product.imageUrl}}">
					<p class="product-name">{{product.name}}</p>
					<span class="product-price">{{product.price | currency: undefined:0}}</span>
					<button class="add-to-cart" ng-click="addProduct(product) ">Add to chart</button>
				</div>
				<div id="loader">
					<img src="images/loader.gif" ng-show="myLimit < products.length">
					LOADING...
				</div>
		</div><!--
		--><div class="sidebar">
			<div class="filter">
				<span class="filter-name">Filters</span>
				<label for="filter-category">Category:</label>
				<select data-ng-model="search.category" name="filter-category">
				  <option value="">All</option>
				  <option value="shoes">Shoes</option>
				  <option value="shirts & tops">Shirts & Tops</option>
				  <option value="jeans">Jeans</option>
				</select>
				<div class="min-value">
					<label for="filterMinValue">Min value:</label>
				    <input type="number"  value="0" min="0" max="600" name="filterMinValue" ng-model="filterMinValue" /> 
				</div>
				<div class="max-value">
					<label for="filterMaxValue">Max value:</label>
					<input type="number"  value="600" min="0" max="600" name="filterMaxValue" ng-model="filterMaxValue" /><br><br>
				</div>
			</div>
			<div class="cart">
				<span class="cart-name">Cart</span>
				<div class="cart-products" ng-repeat = "cartProduct in cartProducts">
					<span class="cart-product-name">{{cartProduct.name}} <span> X {{cartProduct.count}}</span></span>
					<span class="cart-product-price">{{cartProduct.price * cartProduct.count}}$</span>
				</div>
				<br><span>Total:</span><span class="total">{{ getTotal() | currency}} </span>
				<div class="buy-button">
					<button id="playSound" ng-click=" playSound(images/kaching.mp3); buyProducts();">Buy it!</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
